@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    Hi there! <br />
    <br />
    This is the AmsApp homepage, and it will just tell you a little bit about how to use the API.
    <br />
    Here's a list of the controllers available for use, along with their respective methods.
    <li>User - This will give you all information about a user</li>
    <li>UserViews - This will connect a user to a type of view they have/want.</li>
    <li>Views - This will dictate how what a view is, and how it affects the layout of the page.</li>


</p>
